<app-primary-header></app-primary-header>
<app-secondary-header></app-secondary-header>
<div class="user-wrap d-flex align-items-center justify-content-center">
    <div class="user-login-box">
        <h1 class="mb-5">
            <img src="assets/images/user.png" alt="" class="mr-1" width="40"> Sign in
        </h1>
        <form class="px-4">
            <div class="form-group">
                <input type="input" class="form-control" placeholder="UserId | Mobile | Email">
            </div>
            <div class="form-group position-relative">
                <input type="text" class="form-control pr-5" placeholder="Enter OTP *">
                <!-- <div class="position-absolute show-password">
                    <img src="assets/images/eye.png" alt="eye" width="20">
                </div> -->
            </div>
            <div class="social-login d-flex align-items-center justify-content-between">
                <a href="javascript:">Resend OTP</a>
                <div class="time">2:59:09</div>
            </div>
            <div class="d-flex align-items-center my-3">
                <input type="checkbox" style="width: 20px;
                height: 20px;" class="mr-3"> Keep me signed In
            </div>
            <button class="btn dark-btn w-100 py-3" routerLink="/">Login</button>
            <div class="btn light-btn my-3 w-100 text-dark py-3" routerLink="/login">Login with password</div>
            <div class="social-login d-flex align-items-center justify-content-between">
                <div class="border p-2 social-login-btn">
                    <img src="assets/images/google.png" alt="" class="social-icons ml-3 mr-3" width="40"> Google
                </div>
                <div class="border p-2 social-login-btn">
                    <img src="assets/images/facebook.jpeg" alt="" class="social-icons ml-3 mr-3" width="40"> Facebook
                </div>
            </div>
            <div class="text-center my-4">
                <h3> Already have an account? <a href="javascript:" routerLink="/register">SignUp </a> </h3>
            </div>
        </form>
        <p class="f-12">
            Note: By continuing and signing in, you agree to technical99's <a href="javascript:"> Terms & Conditions</a> and
            <a href="javascript:">Privacy Policy.</a>
        </p>
    </div>
</div>