<app-primary-header>
</app-primary-header>
<app-secondary-header></app-secondary-header>
<div class="container-fluid py-3" id="quiz-container">
    <div class="row div-row">
        <div class="col-lg-3 width-20 px-0 pr-3">
            <aside>
                <div class="sidebar">
                    <div class="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left">
                                        <h4 class="mb-0"> <b><img src="assets/images/java.png" class="java-icon" alt=""
                                                    width="25">
                                                Java</b></h4>
                                    </button>
                                </h2>
                            </div>
                            <div class="card-body">
                                <div class="accordion" id="accordionExample01">
                                    <div class="card">
                                        <div class="card-header" id="headingOne01">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left ml-3 f-17" aria-expanded="true" type="button"> Java (203) </button>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingOne01">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left ml-3 f-17" type="button"> Test (1) </button>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingOne01">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left ml-3 f-17" type="button"> Java Data (532) </button>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingOne01">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left ml-3 f-17" type="button"> Web Services (532) </button>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingOne01">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left ml-3 f-17" type="button"> Web Services (532) </button>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <div class="card mt-3">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span class="icon-collapse"></span> Python
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <ul class="mb-0 list-unstyled pl-5 py-3 ml-3 dotted-lines">
                                    <li class="py-2">Tutorials</li>
                                    <li class="py-2">Practice Quesstions</li>
                                    <li class="py-2">Quiz</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <span class="icon-collapse"></span> PHP
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <ul class="mb-0 list-unstyled pl-5 py-3 ml-3 dotted-lines">
                                    <li class="py-2">List Menu</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                        <span class="icon-collapse"></span> Dot Net
                                    </button>
                                </h2>
                            </div>
                            <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                                <ul class="mb-0 list-unstyled pl-5 py-3 ml-3 dotted-lines">
                                    <li class="py-2">List Menu</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfive">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                        <span class="icon-collapse"></span> C++
                                    </button>
                                </h2>
                            </div>
                            <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                                <ul class="mb-0 list-unstyled pl-5 py-3 ml-3 dotted-lines">
                                    <li class="py-2">List Menu</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-lg-6 width-60 px-0">
            <main class="main-contant">
                <div class="middle-contant">
                    <div class="search-bar border">
                        <div class="filter-icon" [ngClass]="{'greyed':showFilter}" (click)="showFilterData()"><i class="fa fa-filter" aria-hidden="true"></i></div>
                        <div class="search-input" *ngIf="!showFilter">
                            <input type="text" class="form-control border-0">
                        </div>
                        <div class="search-input" *ngIf="showFilter">
                            <div class="row">
                                <div class="col-2" style="z-index: -1;"></div>
                                <div class="col-md-2">
                                    <select name="" id="" class="form-control">
                                        <option value="1">Core Java</option>
                                        <option value="2">Core Java1</option>
                                        <option value="3">Core Java2</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select name="" id="" class="form-control">
                                        <option value="1">Complexity</option>
                                        <option value="2">Complexity1</option>
                                        <option value="3">Complexity2</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select name="" id="" class="form-control">
                                        <option value="1">Modules</option>
                                        <option value="2">Modules</option>
                                        <option value="3">Modules</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select name="" id="" class="form-control">
                                        <option value="1">Others</option>
                                        <option value="2">Others1</option>
                                        <option value="3">Others2</option>
                                    </select>
                                </div>
                                <div class="col-2" style="z-index: -1;"></div>
                            </div>
                        </div>
                        <div class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div class="quiz-content p-3">
                    <div class="table-head pt-3 pl-1">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="f-18"> Quiz – Core Java ({{quizList.length}}) </span>
                        </div>
                    </div>
                    <hr>
                    <div class="quiz-list m-3" *ngFor="let quiz of quizList; let i=index">
                        <div class="d-flex justify-content-between align-items-start">
                            <div>
                                <div class="quiz-list-head mb-2">
                                    {{quiz.title}}
                                </div>
                                <p class="mb-0">ID: {{quiz.quizId}} | {{quiz.complexity}} | {{quiz.attendees}} Attendees | Published : {{quiz.publishedDate}}
                                </p>
                            </div>
                            <div class="stars-rating d-flex align-items-center">
                                <div class="cont mr-2">
                                    <div class="stars">
                                        <ngx-star-rating [(ngModel)]="quiz.rating" [id]="'quiz.rating'" [disabled]="true">
                                        </ngx-star-rating>
                                    </div>
                                </div>
                                <span><b>{{quiz.rating}} ({{quiz.ratingCount | shortNumber}})</b></span>
                            </div>
                        </div>
                        <div class="tabs-content mt-4">
                            <button class="btn btn-success start-btn py-2 px-5 w-auto" data-toggle="modal" data-target="#startQuiz">Start</button>
                            <div class="lisk-share">
                                <div class="d-flex text-right">
                                    <img class="social-icons mr-3" src="assets/images/bookmark.png" alt="">
                                    <img class="social-icons" data-toggle="modal" data-target="#shareContest" src="assets/images/share.png" alt="">
                                </div>
                            </div>
                            <mat-tab-group [selectedIndex]="null">
                                <mat-tab></mat-tab>
                                <mat-tab label="View Details">
                                    <div class="row table-row-wrap m-1">
                                        <div class="col-md-4">
                                            <ul class="mb-0 list-unstyled">
                                                <li class="py-2 mb-1"><span>NOQ </span> : <b>&nbsp; {{quiz.maxNoq}}</b></li>
                                                <li class="py-2"><span>Easy</span> : &nbsp; {{quiz.easyNoq}}</li>
                                                <li class="py-2"><span>Average</span> : &nbsp; {{quiz.mediumNoq}} </li>
                                                <li class="py-2"><span>Hard </span> : &nbsp; {{quiz.hardNoq}}</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="mb-0 list-unstyled">
                                                <li class="py-2 mb-1"><span>Max Time </span> : <b>&nbsp; {{quiz.maxTime}}</b>
                                                </li>
                                                <li class="py-2"><span>Max Marks </span> : &nbsp; {{quiz.maxMarks?quiz.maxMarks:0}} </li>
                                                <li class="py-2"><span>Min Marks</span> : &nbsp; {{quiz.minMarks}}</li>
                                                <li class="py-2"><span>Negative Marking </span> : &nbsp;
                                                    <div class="text-success d-inline">{{quiz.negMarks=="0"?'NO':quiz.negMarks}}</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="mb-0 list-unstyled">
                                                <li class="py-2 mb-1">Java Modules</li>
                                                <li class="py-2">
                                                    <span class="modules-tag m-1 py-1 px-2 d-inline-block">Core
                                                        Java</span>
                                                    <span class="modules-tag m-1 py-1 px-2 d-inline-block">JSP</span>
                                                    <span class="modules-tag m-1 py-1 px-2 d-inline-block">WebServices</span>
                                                    <span class="modules-tag m-1 py-1 px-2 d-inline-block">Spring</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="History">
                                    <img class="img-fluid" src="assets/images/grap.png" alt="grap">
                                    <div class="text-center">
                                        <button class="btn  text-center dark-btn py-2 px-5">Load More</button>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                        <hr>
                    </div>

                </div>
                <!-- <div class="middle-contant mt-5">
           
                </div> -->
            </main>
        </div>
        <div class="col-lg-3 width-20 px-0 pl-3">
            <div class="table-content">
                <div class="table-head">
                    Blogs
                </div>
                <div class="img-wrap-list">
                    <div class="list-img d-flex p-3 mb-3">
                        <div class="img mr-3">
                            <img src="assets/images/img11.png" alt="img11" class="img-fluid" width="100">
                        </div>
                        <div class="img-content">
                            What the is the internal working of print statement...
                        </div>
                    </div>
                    <div class="list-img d-flex p-3 mb-3">
                        <div class="img mr-3">
                            <img src="assets/images/img11.png" alt="img11" class="img-fluid" width="100">
                        </div>
                        <div class="img-content">
                            What the is the internal working of print statement...
                        </div>
                    </div>
                    <div class="list-img d-flex p-3 mb-3">
                        <div class="img mr-3">
                            <img src="assets/images/img11.png" alt="img11" class="img-fluid" width="100">
                        </div>
                        <div class="img-content">
                            What the is the internal working of print statement...
                        </div>
                    </div>
                    <div class="list-img d-flex p-3 mb-3">
                        <div class="img mr-3">
                            <img src="assets/images/img11.png" alt="img11" class="img-fluid" width="100">
                        </div>
                        <div class="img-content">
                            Do you know what is inside local variable ?
                        </div>
                    </div>
                    <div class="list-img d-flex p-3 mb-3">
                        <div class="img mr-3">
                            <img src="assets/images/img11.png" alt="img11" class="img-fluid" width="100">
                        </div>
                        <div class="img-content">
                            Do you know what is inside local variable ?
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-content">
                <div class="adds-wrap text-center mt-3">
                    <img src="assets/images/add11.png" alt="add11" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<section class="footer py-5 text-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="list-head mb-4">
                    Learn through
                </div>
                <ul class="list-unstyled footer-list">
                    <li class="py-2">
                        <a href="#">
                            About us
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="#">
                            Our Team
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="#">
                            Career
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="#">
                            Alumni Speaks
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="#">
                            Contact us
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <div class="list-head mb-4">
                    Learn through
                </div>
                <ul class="list-unstyled footer-list">
                    <li class="py-2">
                        <a href="#">
                            Tutorials
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="#">
                            MCQ's
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="#">
                            Practice Test
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="#">
                            Coding Solutions
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="#">
                            Interview Questions
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <div class="list-head mb-4">
                    Courses
                </div>
                <ul class="list-unstyled footer-list">
                    <li class="py-2">
                        <a href="#">
                            Certification Courses
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="#">
                            Full Stack Master Programs
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="#">
                            Self Paced Courses
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="#">
                            Corporate Training
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="#">
                            Talk to Experts
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <div class="list-head mb-4">
                    Work with us
                </div>
                <ul class="list-unstyled footer-list">
                    <li class="py-2">
                        <a href="#">
                            Become an instructor
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="#">
                            Become an writer
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="#">
                            Partner
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="#">
                            Hiring Talent
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="#">
                            Refer and Earn
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <div class="list-head mb-4">
                    Quick contacts
                </div>
                <ul class="list-unstyled footer-list">
                    <li class="py-2">
                        +91 99710 62620
                    </li>
                    <li class="py-2 my-4">
                        Follow Us
                    </li>
                    <li class="py-2">
                        <img src="assets/images/social.png" alt="social" class="img-fluid">
                    </li>

                </ul>
            </div>
        </div>
        <ul class="list-inline footer-list text-center mt-4">
            <li class="list-inline-item px-4">Terms of Use</li>
            <li class="list-inline-item px-4"> . &nbsp;&nbsp; Privacy Policy</li>
            <li class="list-inline-item px-4"> . &nbsp;&nbsp; Refund Policy</li>
            <li class="list-inline-item px-4"> . &nbsp;&nbsp; Cookie Policy</li>
        </ul>
        <ul class="list-unstyled footer-list text-center">
            <li class="py-2">
                © 2009-2021 – technical99.com, All Rights Reserved. The certification names are the trademarks of their respective owners
            </li>
        </ul>
        <hr class="bg-white">
        <div class="list-head mb-4">
            Disclaimer
        </div>
        <ul class="list-unstyled footer-list">
            <li class="py-2">
                PMI®, Project Management Body of Knowledge (PMBOK® Guide), PMP®, PMI-RMP®, PMI-PBA®, CAPM®, PMI-ACP® and PMI Registered Education Provider Logo are registered marks of the Project Management Institute, Inc. PRINCE2® is a [registered] mark of AXELOS Limited,
                used under permission of AXELOS Limited. All rights reserved.
            </li>
        </ul>
    </div>
</section>

<div class="modal" id="shareContest" tabindex="-1" role="dialog" aria-labelledby="shareContestLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 295px;top:28%">
        <div class="modal-content" style="border-radius:14px;">
            <div class="modal-header pb-0 text-center" style="border:none">
                <h5 class="modal-title px-4 mt-1" id="shareContestLabel" style="font-size: 20px;font-weight: 500">Invite your friends to start learning.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body py-0 mt-3 mb-3 text-center">
                <span class="ml-2 mr-2" (click)="shareWhatsApp(1)"><img src="assets/images/whatsapp.jpeg"
                        class="social-icons" alt=""> </span>
                <span class="ml-2 mr-2" (click)="shareWhatsApp(2)"><img src="assets/images/twitter.jpeg"
                        class="social-icons" alt=""> </span>
                <span class="ml-2 mr-2" (click)="shareWhatsApp(3)"><img src="assets/images/instagram.jpeg"
                        class="social-icons" alt=""> </span>
                <span class="ml-2 mr-2" (click)="shareWhatsApp(4)"><img src="assets/images/facebook.jpeg"
                        class="social-icons" alt=""> </span>
            </div>
            <div class="modal-footer d-flex justify-content-center" style="border:none">
            </div>
        </div>
    </div>
</div>

<div class="modal" id="startQuiz" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="startQuizLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="border-radius:14px;">
            <div class="modal-body py-4 px-md-5">
                <h4 class="modal-title p-4 mt-1 mb-2 text-center" id="startQuizLabel" style="font-size: 22px;font-weight: 500">Core Java Practice Quiz Set-I, JAQ-002</h4>
                <div class="d-flex justify-content-between mb-4 pt-2 pb-2">
                    <span>Label : Beginner</span>
                    <span>Max NOQ: 30 Max</span>
                    <span>Time : 45 mins</span>
                    <span>Attempted : 3 times</span>
                </div>
                <ul class="checklist list-unstyled mb-5 pl-4">
                    <li class="my-3">You can pause test any time but max 5 times</li>
                    <li class="my-3">Don t allow to leave the live screen, it ll cause of termination of quiz </li>
                    <li class="my-3">Core Java Practice Quiz Set-I, JAQ-002</li>
                    <li class="my-3">You attempted 3 times of this quiz, you can compare performances.</li>
                </ul>
                <p class="d-flex align-items-center p-2">
                    <input type="checkbox" class="mr-3" style="width: 24px;height:30px"> You are agree to our &nbsp;<a href="javascript:;"> terms&nbsp;</a> and &nbsp;<a href="javascript:;"> conditions</a>
                </p>
            </div>
            <div class="modal-footer d-flex justify-content-end pt-0" style="border:none">
                <button class="btn btn-lights  py-2 px-5 rounded text-dark" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button class="btn btn-success  py-2 px-5 rounded" routerLink="/quiz-details" data-dismiss="modal" aria-label="Close">Start</button>
            </div>

        </div>
    </div>
</div>