.social-icons {
    height: 20px;
    width: 20px;
    opacity: .8;
    cursor: pointer;
}

.opacity {
    opacity: .8;
}

.options span {
    padding-left: 20px;
}

#shareContest .invite-contest {
    max-width: 20px;
    max-height: 25px;
    padding-bottom: 2px;
    cursor: pointer;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#shareContest img.social-icons {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.search-input {
    select.form-control:not([size]):not([multiple]) {
        height: calc(3.25rem + 0px) !important;
        margin-top: 2px !important;
    }
}

.greyed {
    background-color: #8080806b;
}

#shareContest.modal {
    background: #ffffff00 !important;
}

::ng-deep .mat-tab-labels>.mat-tab-label:first-child {
    display: none;
}

.table-row-wrap {
    margin-top: 15px !important;
    border: 1px solid #ececec !important;
    padding: 10px !important;
}