<app-primary-header></app-primary-header>
<app-secondary-header></app-secondary-header>
<div class="container-fluid py-2">
    <div class="row div-row">
        <div class="col-lg-3 width-20 px-0 pr-3">
            <aside>
                <div class="sidebar dashboard-sidebar">
                    <div class="bar-head p-3" style="color: #d86417;">Dashboard</div>
                    <div class="accordion" id="accordionExample">
                        <div class="card mt-3">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <i class="fa-user header-icon fas mr-3"></i> User Profile <span
                                            class="icon-collapse"></span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <ul class="mb-0 list-unstyled pl-4 py-3 ml-3 dotted-lines">
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> Personal Profile</li>
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> Job Profile</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <i class="fa-user header-icon fas mr-3"></i> Training <span
                                            class="icon-collapse"></span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <ul class="mb-0 list-unstyled pl-4 py-3 ml-3 dotted-lines">
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> Certification Course ( 2 )</li>
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> Full-Stack Program ( 1 )</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button">
                                        <i class="fa-user header-icon fas mr-3"></i> Video Courses ( 14 )
                                    </button>
                                </h2>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingfour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button">
                                        <i class="fa-user header-icon fas mr-3"></i> Quiz s Reports
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                        <i class="fa-user header-icon fas mr-3"></i> Contribution <span
                                            class="icon-collapse"></span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                                <ul class="mb-0 list-unstyled pl-4 py-3 ml-3 dotted-lines">
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> Tutorials ( 2 )</li>
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> MCQs ( 1 ) </li>
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> Interview ( 1 )</li>
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> Coding ( 1 )</li>
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> Blogs ( 1 )</li>
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> Projects ( 1 )</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button">
                                        <i class="fa-user header-icon fas mr-3"></i> Community
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button">
                                        <i class="fa-user header-icon fas mr-3"></i> Subscription
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button">
                                        <i class="fa-user header-icon fas mr-3"></i> Reviews
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button">
                                        <i class="fa-user header-icon fas mr-3"></i> Change Password
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <!-- <div class="card">
                            <div class="card-header" id="headingfive">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapsefive" aria-expanded="false"
                                        aria-controls="collapsefive">
                                        <span class="icon-collapse"></span> C++
                                    </button>
                                </h2>
                            </div>
                            <div id="collapsefive" class="collapse" aria-labelledby="headingfive"
                                data-parent="#accordionExample">
                                <ul class="mb-0 list-unstyled pl-4 py-3 ml-3 dotted-lines">
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> List Menu</li>
                                </ul>
                            </div>
                        </div> -->
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-lg-6 width-80 px-0">
            <main class="main-contant dashboard-main-contant">
                <div class="quiz-content p-3">
                    <div class="quiz-list mb-3 border  p-3">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="quiz-list-head mb-2">
                                <div class="quiz-list-head mb-2">Core Java Practice Quiz Series Set-I, JAQ-002
                                </div>
                                <p class="mb-0">
                                    ID: 02 | Complexity: L1 | Attendees: 34897 | Max Ques: 30 | Max Time: 30 Mins | -Ve Marking: <span class="d-inline text-success">ON</span>
                                </p>
                            </div>
                            <div>
                                <button class="btn"><i aria-hidden="true" class="fa fa-angle-left"></i>
                                    Back
                                </button>
                            </div>
                        </div>
                        <div class="tabs-content mt-4">
                            <div class="table-row-wrap ">
                                <div class="row">

                                    <div class="col-md-5">
                                        <ul class="mb-0 list-unstyled">
                                            <li class="py-2 mb-1"><span>Total Attempts </span> : &nbsp; 24 / 30 </li>
                                            <li class="py-2"><span>L1 Attempts</span> : &nbsp; 10 / 15 </li>
                                            <li class="py-2"><span>L2 Attempts</span> : &nbsp; 09 / 10 </li>
                                            <li class="py-2"><span>L3 Attempts </span> : &nbsp; 02 / 5</li>
                                            <li class="py-2"><span>Time Used </span> : &nbsp; 24 Mins (88%)</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-5">
                                        <ul class="mb-0 list-unstyled">
                                            <li class="py-2 mb-1"><span>Percentage </span> : <b>&nbsp; 72%</b>
                                            </li>
                                            <li class="py-2"><span>Percentile </span> : &nbsp; 92% </li>
                                            <li class="py-2"><span>Rank</span> : &nbsp; 956 | 34897</li>
                                            <li class="py-2"><span>Negative Marking </span> : &nbsp;68 | 90</li>
                                            <li class="py-2"><span>Negative Marking </span> : &nbsp;68 | 90</li>
                                            <li class="py-2"><span>Marks +Ve/-Ve</span> : &nbsp;
                                                <div class="d-inline text-success">78</div> |
                                                <div class="d-inline text-danger">
                                                    -10</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <ul class="mb-0 list-unstyled">
                                        <li class="py-2 mb-1 mr-5"><span>Status </span> : &nbsp;
                                            <div class="d-inline text-success">Passed</div>
                                        </li>
                                    </ul>
                                    <ul class="mb-0 list-unstyled">
                                        <li class="py-2 mb-1"><span>Grade </span> : &nbsp; <b> A+</b></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="quiz-list mb-3 border p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="mb-0">Performance Reports</h4>
                            <select class="p-2">
                                <option value="0">All Modules
                                </option>
                            </select>
                        </div>
                        <div class="graph text-center py-3 d-flex w-100">
                            <div id="chart">
                                <apx-chart [series]="chartOptions.series[0].data" [chart]="chartOptions.chart" [responsive]="chartOptions.responsive"></apx-chart>
                            </div>
                            <div id="chart1">
                                <apx-chart [series]="chartOptions.series[0].data" [chart]="chartOptions.chart" [responsive]="chartOptions.responsive"></apx-chart>
                            </div>
                            <div id="chart1">
                                <apx-chart [series]="chartOptions.series[0].data" [chart]="chartOptions.chart" [responsive]="chartOptions.responsive"></apx-chart>
                            </div>
                        </div>
                        <hr>
                        <div class="graph text-center py-3">
                            <div class="d-flex align-items-center">
                                <div id="chart2">
                                    <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart" [dataLabels]="chartOptions1.dataLabels" [plotOptions]="chartOptions1.plotOptions" [yaxis]="chartOptions1.yaxis" [xaxis]="chartOptions1.xaxis" [fill]="chartOptions1.fill" [title]="chartOptions1.title"></apx-chart>
                                </div>
                                <div id="chart2">
                                    <apx-chart [series]="chartOptions.series[0].data" [chart]="chartOptions.chart" [responsive]="chartOptions.responsive"></apx-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border pr-3" style="min-height: 100%;">
                        <div class="bg-grey px-3 border-bottom py-3 mt-2 mb-2 d-flex justify-content-between">
                            <div>
                                <span class="f-18 ml-3">Question s Analysis Report</span>
                            </div>

                        </div>
                        <div class="custom-radio d-flex">
                            <select class="p-2 border-0 mr-4">
                                <option value="0">All Modules
                                </option>
                            </select>
                            <ul class="list-inline p-0 mb-4 clearfix">
                                <li class="list-inline-item  w-auto">
                                    <input type="radio" id="f-option" name="selector">
                                    <label for="f-option">Correct</label>
                                    <div class="check"></div>
                                </li>
                                <li class="list-inline-item  w-auto">
                                    <input type="radio" id="s-option" name="selector">
                                    <label for="s-option">Wrong
                                    </label>
                                    <div class="check">
                                    </div>
                                </li>
                                <li class="list-inline-item  w-auto">
                                    <input type="radio" id="a-option" name="selector">
                                    <label for="a-option">Skipped</label>
                                    <div class="check">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="px-3">
                            <div class="row mt-2 ml-3">
                                <div class="col-12 pr-3">
                                    <div class="row px-3">
                                        <div class="col-12">
                                            <div class="question mn-4 d-flex justify-content-between align-items-center">
                                                <p class="f-17 mb-0">What is the output of below Java code ?

                                                </p>
                                                <div class="d-flex align-items-center">
                                                    <span class="f-18 ml-3 text-danger d-inline-block mr-3">- 0.5</span>
                                                    <button type="button" class="btn btn-outline-danger">Wrong</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <ngs-code-editor [theme]="theme" [codeModel]="model2" [options]="options"
                                        (valueChanged)="onCodeChanged($event)" [readOnly]=true>
                                    </ngs-code-editor> -->
                                    <div class="custom-radio">

                                        <ul class="pl-0">
                                            <li>
                                                <input type="radio" id="f-option0" name="selector">
                                                <label for="f-option0">Compilation error</label>

                                                <div class="check"></div>
                                            </li>

                                            <li>
                                                <input type="radio" id="s-option0" name="selector">
                                                <label for="s-option0">An exception thrown at runtime
                                                </label>

                                                <div class="check">

                                                </div>
                                            </li>

                                            <li>
                                                <input type="radio" id="t-option0" name="selector">
                                                <label for="t-option0">All of these
                                                </label>

                                                <div class="check">

                                                </div>
                                            </li>
                                            <li>
                                                <input type="radio" id="option0" name="selector">
                                                <label for="option0">None of these
                                                </label>
                                                <div class="check">

                                                </div>
                                            </li>
                                            <li>
                                                <input type="radio" id="option10" name="selector">
                                                <label for="option10">Unpredictable output
                                                </label>
                                                <div class="check">

                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h3 class="mt-3"><b>Explanation</b></h3>
                            <p>
                                Gartner, the world s leading information technology research and advisory firm, has positioned Zoom in the Leaders Quadrant of the 2020 Magic Quadrant for Meeting Solutions and the Magic Quadrant for UCaaS, Worldwide. Read the reports to learn why we
                                re a Leader!
                            </p>
                            <a href="javascript:;"> <img src="assets/images/youtube.png" class="mr-2" class="icon" alt="" width="30"> Video Explanation</a>
                        </div>
                        <hr>

                        <div class="px-3">
                            <div class="row mt-2 ml-3">
                                <div class="col-12 pr-3">
                                    <div class="row px-3">
                                        <div class="col-12">
                                            <div class="question mn-4 d-flex justify-content-between align-items-center">
                                                <p class="f-17 mb-0">What is the output of below code ?
                                                </p>
                                                <div class="d-flex align-items-center">
                                                    <span class="f-18 ml-3 text-success d-inline-block mr-3">+ 2 </span>
                                                    <button type="button" class="btn btn-outline-success">Correct</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <ngs-code-editor [theme]="theme" [codeModel]="model2" [options]="options"
                                        (valueChanged)="onCodeChanged($event)" [readOnly]=true>
                                    </ngs-code-editor> -->
                                    <div class="custom-radio">

                                        <ul class="pl-0">
                                            <li>
                                                <input type="radio" id="f-option1" name="selector">
                                                <label for="f-option1">Compilation error</label>

                                                <div class="check"></div>
                                            </li>

                                            <li>
                                                <input type="radio" id="s-option1" name="selector">
                                                <label for="s-option1">An exception thrown at runtime
                                                </label>

                                                <div class="check">

                                                </div>
                                            </li>

                                            <li>
                                                <input type="radio" id="t-option1" name="selector">
                                                <label for="t-option1">All of these
                                                </label>

                                                <div class="check">

                                                </div>
                                            </li>
                                            <li>
                                                <input type="radio" id="option11" name="selector">
                                                <label for="option11">None of these
                                                </label>
                                                <div class="check">

                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h3 class="mt-3"><b>Explanation</b></h3>
                            <p>
                                Gartner, the world s leading information technology research and advisory firm, has positioned Zoom in the Leaders Quadrant of the 2020 Magic Quadrant for Meeting Solutions and the Magic Quadrant for UCaaS, Worldwide. Read the reports to learn why we
                                re a Leader!
                            </p>
                            <a href="javascript:;"> <img src="assets/images/youtube.png" class="mr-2" class="icon" alt="" width="30"> Video Explanation</a>
                        </div>
                        <div class="text-center my-5">
                            <a href="javascript:;">Load More</a>

                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>