#chart {
    max-width: 200px;
    margin: 15px auto;
    padding: 0;
}

#chart1 {
    max-width: 200px;
    margin: 15px auto;
    padding: 0;
}

#chart2 {
    max-width: 500px;
    margin: 15px auto;
    padding: 0;
}