<app-primary-header></app-primary-header>
<app-secondary-header></app-secondary-header>
<div class="container-fluid py-3">
    <div class="row div-row">
        <div class="col-lg-3 width-20 px-0 pr-3">
            <aside>
                <div class="sidebar">
                    <div class="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left">
                   <h4 class="mb-0"> <b><img src="assets/images/java.png" class="java-icon" alt="" width="25">
                     Java</b></h4>  
                  </button>
                                </h2>
                            </div>

                            <!-- <div id="collapseOne" class="collapse show" aria-labelledby="headingOne01"
                data-parent="#accordionExample"> -->
                            <div class="card-body">
                                <div class="accordion" id="accordionExample01">
                                    <div class="card">
                                        <div class="card-header" id="headingOne01">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne01" aria-expanded="true" aria-controls="collapseOne01">
                            <span class="icon-collapse"></span> Java
                          </button>
                                            </h2>
                                        </div>

                                        <div id="collapseOne01" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample01">
                                            <div class="card-body">
                                                <ul class="mb-0">
                                                    <li routerLink="/mcq-details">Java Basics</li>
                                                    <li class="py-2">Data Types</li>
                                                    <li class="py-2"> Flow Control</li>
                                                    <li class="py-2">OOPs</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo01">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo01" aria-expanded="false" aria-controls="collapseTwo01">
                            <span class="icon-collapse"></span> JDBC
                          </button>
                                            </h2>
                                        </div>
                                        <div id="collapseTwo01" class="collapse" aria-labelledby="headingTwo01" data-parent="#accordionExample01">
                                            <div class="card-body">
                                                <ul class="mb-0">
                                                    <li class="py-2">List menu</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree01">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree01" aria-expanded="false" aria-controls="collapseThree01">
                            <span class="icon-collapse"></span> Servlet
                          </button>
                                            </h2>
                                        </div>
                                        <div id="collapseThree01" class="collapse" aria-labelledby="headingThree01" data-parent="#accordionExample01">
                                            <div class="card-body">
                                                <ul class="mb-0">
                                                    <li class="py-2">List menu</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingfour01">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefour01" aria-expanded="false" aria-controls="collapsefour01">
                            <span class="icon-collapse"></span> JSP
                          </button>
                                            </h2>
                                        </div>
                                        <div id="collapsefour01" class="collapse" aria-labelledby="headingfour01" data-parent="#accordionExample01">
                                            <div class="card-body">
                                                <ul class="mb-0">
                                                    <li class="py-2">List menu</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingfive01">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefive01" aria-expanded="false" aria-controls="collapsefive01">
                            <span class="icon-collapse"></span> Microservices
                          </button>
                                            </h2>
                                        </div>
                                        <div id="collapsefive01" class="collapse" aria-labelledby="headingfive01" data-parent="#accordionExample01">
                                            <div class="card-body">
                                                <ul class="mb-0">
                                                    <li class="py-2">List menu</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <div class="card mt-3">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <span class="icon-collapse"></span> Python
                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <ul class="mb-0 list-unstyled pl-5 py-3 ml-3 dotted-lines">
                                    <li class="py-2">Tutorials</li>
                                    <li class="py-2">Practice Quesstions</li>
                                    <li class="py-2">Quiz</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <span class="icon-collapse"></span> PHP
                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    List Menu
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                      <span class="icon-collapse"></span> Dot Net
                    </button>
                                </h2>
                            </div>
                            <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                                <div class="card-body">
                                    And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfive">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                      <span class="icon-collapse"></span> C++
                    </button>
                                </h2>
                            </div>
                            <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                                <div class="card-body">
                                    List Menu
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-lg-6 px-0 width-60">

            <main class="main-contant">
                <div class="middle-contant">
                    <div class="search-bar border">
                        <div class="filter-icon"><i class="fa fa-filter" aria-hidden="true"></i></div>
                        <div class="search-input">
                            <input type="text" class="form-control border-0" placeholder="Search by QuesId or Text">
                        </div>
                        <div class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div class="table-content mt-3">
                    <div class="table-head">
                        Core Java <span class="color_green">[1308]</span>
                    </div>
                    <div class="tabel-data px-2">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 px-1 my-2">
                                <ul class="mb-0 list-unstyled">
                                    <li routerLink="/mcq-details">
                                        Java Basics <span class="color_green">[34]</span>
                                    </li>
                                    <li class="py-2">
                                        Arrays <span class="color_green">[34]</span>
                                    </li>
                                    <li class="py-2">
                                        Packages <span class="color_green">[34]</span>
                                    </li>
                                    <li class="py-2">
                                        Arrays <span class="color_green">[30]</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 px-1 my-2">
                                <ul class="mb-0 list-unstyled">
                                    <li class="py-2">
                                        Data Type <span class="color_green">[34]</span>
                                    </li>
                                    <li class="py-2">
                                        OOps <span class="color_green">[34]</span>
                                    </li>
                                    <li class="py-2">
                                        Keywords <span class="color_green">[34]</span>
                                    </li>
                                    <li class="py-2">
                                        Arrays <span class="color_green">[394]</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 px-1 my-2">
                                <ul class="mb-0 list-unstyled">
                                    <li class="py-2">
                                        Conditions <span class="color_green">[34]</span>
                                    </li>
                                    <li class="py-2">
                                        Functional Programming <span class="color_green">[34]</span>
                                    </li>
                                    <li class="py-2">
                                        Nested Classes <span class="color_green">[87]</span>
                                    </li>
                                    <li class="py-2">
                                        Arrays <span class="color_green">[314]</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 px-1 my-2">
                                <ul class="mb-0 list-unstyled">
                                    <li class="py-2">
                                        Loops <span class="color_green">[34]</span>
                                    </li>
                                    <li class="py-2">
                                        Wrapper Classes <span class="color_green">[87]</span>
                                    </li>
                                    <li class="py-2">
                                        Java Exceptions <span class="color_green">[94]</span>
                                    </li>
                                    <li class="py-2">
                                        Arrays <span class="color_green">[74]</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="table-content mt-3">
                    <div class="table-head">
                        JDBC (68)
                    </div>
                    <div class="tabel-data px-2">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 px-1 my-2">
                                <ul class="mb-0 list-unstyled">
                                    <li routerLink="/mcq-details">
                                        Java Basics (34)
                                    </li>
                                    <li class="py-2">
                                        Arrays (34)
                                    </li>
                                    <li class="py-2">
                                        Java Basics (34)
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 px-1 my-2">
                                <ul class="mb-0 list-unstyled">
                                    <li class="py-2">
                                        Java Basics (34)
                                    </li>
                                    <li class="py-2">
                                        Arrays (34)
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 px-1 my-2">
                                <ul class="mb-0 list-unstyled">
                                    <li class="py-2">
                                        Java Basics (34)
                                    </li>
                                    <li class="py-2">
                                        Arrays (34)
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 px-1 my-2">
                                <ul class="mb-0 list-unstyled">
                                    <li class="py-2">
                                        Java Basics (34)
                                    </li>
                                    <li class="py-2">
                                        Arrays (34)
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="table-content mt-3">
                    <div class="table-head">
                        Servlet (148)
                    </div>
                    <div class="tabel-data px-2">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 px-1 my-2">
                                <ul class="mb-0 list-unstyled">
                                    <li class="py-2">
                                        Java Basics (34)
                                    </li>
                                    <li class="py-2">
                                        Arrays (34)
                                    </li>
                                    <li class="py-2">
                                        Java Basics (34)
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 px-1 my-2">
                                <ul class="mb-0 list-unstyled">
                                    <li class="py-2">
                                        Java Basics (34)
                                    </li>
                                    <li class="py-2">
                                        Arrays (34)
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 px-1 my-2">
                                <ul class="mb-0 list-unstyled">
                                    <li class="py-2">
                                        Java Basics (34)
                                    </li>
                                    <li class="py-2">
                                        Arrays (34)
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 px-1 my-2">
                                <ul class="mb-0 list-unstyled">
                                    <li class="py-2">
                                        Java Basics (34)
                                    </li>
                                    <li class="py-2">
                                        Arrays (34)
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="adds-wrap text-center mt-3">
                    <img src="assets/images/add2.png" alt="" class="img-fliud">
                </div>
                <div class="table-content mt-3">
                    <div class="table-head">
                        Servlet (148)
                    </div>
                    <div class="tabel-data px-2">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 px-1 my-2">
                                <ul class="mb-0 list-unstyled">
                                    <li class="py-2">
                                        Java Basics (34)
                                    </li>
                                    <li class="py-2">
                                        Arrays (34)
                                    </li>
                                    <li class="py-2">
                                        Java Basics (34)
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 px-1 my-2">
                                <ul class="mb-0 list-unstyled">
                                    <li class="py-2">
                                        Java Basics (34)
                                    </li>
                                    <li class="py-2">
                                        Arrays (34)
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 px-1 my-2">
                                <ul class="mb-0 list-unstyled">
                                    <li class="py-2">
                                        Java Basics (34)
                                    </li>
                                    <li class="py-2">
                                        Arrays (34)
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 px-1 my-2">
                                <ul class="mb-0 list-unstyled">
                                    <li class="py-2">
                                        Java Basics (34)
                                    </li>
                                    <li class="py-2">
                                        Arrays (34)
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>
        <div class="col-lg-3 width-20 px-0 pl-3">
            <div class="table-content">
                <div class="table-head">
                    Quiz
                </div>
                <div class="adds-wrap text-center mt-3">
                    <p class="f-14 opacity mb-0">Java Practice Test Quiz for Beginner
                    </p>
                    <p class="f-12 d-flex w-70 justify-content-between mb-0">
                        <span class="f-11 opacity ml-1">45 NQQ</span>
                        <span class="f-11 opacity">45 NQQ</span>
                        <span class="f-11 opacity">45 NQQ</span>
                    </p>
                    <div class="d-flex">
                        <form [formGroup]="form">
                            <div class="cont">
                                <div class="stars">
                                    <ngx-star-rating formControlName="rating2" [id]="'rating2'"></ngx-star-rating>
                                </div>
                            </div>
                        </form>
                        <p class="f-11 opacity ml-1">4.9</p>
                        <p class="f-11 opacity ml-1">(2320)</p>
                    </div>
                    <div class="bg-black-star">
                        <div class="start-btn">
                            <button class="btn btn-success start-btn">Start</button>
                        </div>
                    </div>
                </div>
                <div class="adds-wrap text-center mt-3">
                    <p class="f-14 opacity mb-0">
                        Java Practice Test Quiz for Beginner
                    </p>
                    <p class="f-12 d-flex w-70 justify-content-between mb-0">
                        <span class="f-11 opacity ml-1">45 NQQ</span>
                        <span class="f-11 opacity">45 NQQ</span>
                        <span class="f-11 opacity">45 NQQ</span>
                    </p>
                    <div class="d-flex">
                        <form [formGroup]="form">
                            <div class="cont">
                                <div class="stars">
                                    <ngx-star-rating formControlName="rating2" [id]="'rating2'"></ngx-star-rating>
                                </div>
                            </div>
                        </form>
                        <p class="f-11 opacity ml-1">4.9</p>
                        <p class="f-11 opacity ml-1">(2320)</p>
                    </div>
                    <div class="bg-black-star">
                        <div class="start-btn">
                            <button class="btn btn-success start-btn">Start</button>
                        </div>
                    </div>
                </div>
                <div class="adds-wrap text-center mt-3">
                    <p class="f-14 opacity mb-0">
                        Java Practice Test Quiz for Beginner
                    </p>
                    <p class="f-12 d-flex w-70 justify-content-between mb-0">
                        <span class="f-11 opacity ml-1">45 NQQ</span>
                        <span class="f-11 opacity">45 NQQ</span>
                        <span class="f-11 opacity">45 NQQ</span>
                    </p>
                    <div class="d-flex">
                        <form [formGroup]="form">
                            <div class="cont">
                                <div class="stars">
                                    <ngx-star-rating formControlName="rating2" [id]="'rating2'"></ngx-star-rating>
                                </div>
                            </div>
                        </form>
                        <p class="f-11 opacity ml-1">4.9</p>
                        <p class="f-11 opacity ml-1">(2320)</p>
                    </div>
                    <div class="bg-black-star">
                        <div class="start-btn">
                            <button class="btn btn-success start-btn">Start</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="other-technology mt-5 py-5 px-4 px-lg-5 position-relative">
    <span class="show-footer"></span>
    <div class="container">
        <div class="main-head text-center c-pointer d-block pb-4" (click)="viewMore()">
            Switch to other technology
        </div>
        <div class="content mt-4">
            <div class="row">
                <div class="col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link" id="v-pills-programming-tab" data-toggle="pill" href="#v-pills-programming" role="tab" aria-controls="v-pills-programming" aria-selected="false">Programming</a>
                        <a class="nav-link" id="v-pills-algorithms-tab" data-toggle="pill" href="#v-pills-algorithms" role="tab" aria-controls="v-pills-algorithms" aria-selected="false">DS & Algorithms
              </a>
                        <a class="nav-link" id="v-pills-ai-machine-tab" data-toggle="pill" href="#v-pills-ai-machine" role="tab" aria-controls="v-pills-ai-machine" aria-selected="false">AI & Machine Learning
              </a>
                        <a class="nav-link active" id="v-pills-software-tab" data-toggle="pill" href="#v-pills-software" role="tab" aria-controls="v-pills-software" aria-selected="true">Software Testing
              </a>
                        <a class="nav-link" id="v-pills-software-tab" data-toggle="pill" href="#v-pills-marketing" role="tab" aria-controls="v-pills-marketing" aria-selected="false">Digital Marketing
              </a>
                        <a class="nav-link" id="v-pills-cloud-tab" data-toggle="pill" href="#v-pills-cloud" role="tab" aria-controls="v-pills-cloud" aria-selected="false">Cloud Computing
              </a>
                        <a class="nav-link" id="v-pills-management-tab" data-toggle="pill" href="#v-pills-management" role="tab" aria-controls="v-pills-management" aria-selected="false">Project Management
              </a>
                        <a class="nav-link" id="v-pills-science-tab" data-toggle="pill" href="#v-pills-science" role="tab" aria-controls="v-pills-science" aria-selected="false">Data Science & BI
              </a>
                    </div>
                </div>
                <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade " id="v-pills-programming" role="tabpanel" aria-labelledby="v-pills-programming-tab">
                            <div class="row pt-2">
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                        <div class="icon mr-3">
                                            <img src="assets/images/icon1.png" alt="icon1" class="img-fluid" width="40">
                                        </div>
                                        <div class="content-info">
                                            Selenium 3545465
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                        <div class="icon mr-3">
                                            <img src="assets/images/icon2.png" alt="icon2" class="img-fluid" width="40">
                                        </div>
                                        <div class="content-info">
                                            Ui Path
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                        <div class="icon mr-3">
                                            <img src="assets/images/icon3.png" alt="icon3" class="img-fluid" width="40">
                                        </div>
                                        <div class="content-info">
                                            Automation Anywhere
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-algorithms" role="tabpanel" aria-labelledby="v-pills-algorithms-tab">algorithms</div>
                        <div class="tab-pane fade" id="v-pills-ai-machine" role="tabpanel" aria-labelledby="v-pills-ai-machine-tab">machine</div>
                        <div class="tab-pane fade show active" id="v-pills-software" role="tabpanel" aria-labelledby="v-pills-software-tab">
                            <div class="row pt-2">
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                        <div class="icon mr-3">
                                            <img src="assets/images/icon1.png" alt="icon1" class="img-fluid" width="40">
                                        </div>
                                        <div class="content-info">
                                            Selenium
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                        <div class="icon mr-3">
                                            <img src="assets/images/icon2.png" alt="icon2" class="img-fluid" width="40">
                                        </div>
                                        <div class="content-info">
                                            Ui Path
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                        <div class="icon mr-3">
                                            <img src="assets/images/icon3.png" alt="icon3" class="img-fluid" width="40">
                                        </div>
                                        <div class="content-info">
                                            Automation Anywhere
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-marketing" role="tabpanel" aria-labelledby="v-pills-marketing-tab">
                            marketing</div>
                        <div class="tab-pane fade" id="v-pills-software" role="tabpanel" aria-labelledby="v-pills-software-tab">
                            software</div>
                        <div class="tab-pane fade" id="v-pills-cloud" role="tabpanel" aria-labelledby="v-pills-cloud-tab">cloud
                        </div>
                        <div class="tab-pane fade" id="v-pills-management" role="tabpanel" aria-labelledby="v-pills-management-tab">management</div>
                        <div class="tab-pane fade" id="v-pills-science" role="tabpanel" aria-labelledby="v-pills-science-tab">
                            <div class="row pt-2">
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                        <div class="icon mr-3">
                                            <img src="assets/images/icon1.png" alt="icon1" class="img-fluid" width="40">
                                        </div>
                                        <div class="content-info">
                                            Selenium
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                        <div class="icon mr-3">
                                            <img src="assets/images/icon2.png" alt="icon2" class="img-fluid" width="40">
                                        </div>
                                        <div class="content-info">
                                            Ui Path
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                        <div class="icon mr-3">
                                            <img src="assets/images/icon3.png" alt="icon3" class="img-fluid" width="40">
                                        </div>
                                        <div class="content-info">
                                            Automation Anywhere
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>