<div class="language-list-container">
  <div class="breadcrumb-custom">
    Programming > {{language}}
  </div>
  <div class="language-list">
    <div class="language-heading">{{language}}</div>
  </div>
  <div class="language-options">

    <div class="language-options-buttons active">
      <span class="circle"></span>
      Tutorials</div>
    <div class="language-options-buttons">
      <span class="circle"></span>
      MCQs</div>
    <div class="language-options-buttons">
      <span class="circle"></span>
      Quiz</div>
  </div>
  <div class="language-icons-cards">
    <div class="language-list-icons">
      <div class="language-card" *ngFor='let tech of technologies'>
        <div>
          <mdb-icon fab icon="java" style="font-size:5rem;"></mdb-icon>
        </div>
        <div style="padding: 1rem 0;">
          <span>
            {{tech.techName}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
