<app-primary-header></app-primary-header>
<app-secondary-header></app-secondary-header>
<div class="container-fluid py-3 px-5">
    <div class="row div-row" style="border: 1px solid #00000014;">
        <div class="col-lg-3 width-20 px-0">
            <aside>
                <div class="sidebar dashboard-sidebar">
                    <div class="bar-head p-3" style="color: #d86417;">Dashboard</div>
                    <div class="accordion" id="accordionExample">
                        <div class="card mt-3">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <i class="fa-user header-icon fas mr-3"></i> User Profile <span
                                            class="icon-collapse"></span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <ul class="mb-0 list-unstyled pl-4 py-3 ml-3 dotted-lines">
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> Personal Profile</li>
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> Job Profile</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <i class="fa-user header-icon fas mr-3"></i> Training <span
                                            class="icon-collapse"></span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <ul class="mb-0 list-unstyled pl-4 py-3 ml-3 dotted-lines">
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> Certification Course ( 2 )</li>
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> Full-Stack Program ( 1 )</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button">
                                        <i class="fa-user header-icon fas mr-3"></i> Video Courses ( 14 )
                                    </button>
                                </h2>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingfour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button">
                                        <i class="fa-user header-icon fas mr-3"></i> Quiz s Reports
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                        <i class="fa-user header-icon fas mr-3"></i> Contribution <span
                                            class="icon-collapse"></span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                                <ul class="mb-0 list-unstyled pl-4 py-3 ml-3 dotted-lines">
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> Tutorials ( 2 )</li>
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> MCQs ( 1 ) </li>
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> Interview ( 1 )</li>
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> Coding ( 1 )</li>
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> Blogs ( 1 )</li>
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> Projects ( 1 )</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button">
                                        <i class="fa-user header-icon fas mr-3"></i> Community
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button">
                                        <i class="fa-user header-icon fas mr-3"></i> Subscription
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button">
                                        <i class="fa-user header-icon fas mr-3"></i> Reviews
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button">
                                        <i class="fa-user header-icon fas mr-3"></i> Change Password
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <!-- <div class="card">
                            <div class="card-header" id="headingfive">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapsefive" aria-expanded="false"
                                        aria-controls="collapsefive">
                                        <span class="icon-collapse"></span> C++
                                    </button>
                                </h2>
                            </div>
                            <div id="collapsefive" class="collapse" aria-labelledby="headingfive"
                                data-parent="#accordionExample">
                                <ul class="mb-0 list-unstyled pl-4 py-3 ml-3 dotted-lines">
                                    <li class="py-2"> <img src="assets/images/avatar.png" class="mr-2" class="icon" alt="" width="20"> List Menu</li>
                                </ul>
                            </div>
                        </div> -->
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-lg-6 width-80 px-0">
            <main class="main-contant dashboard-main-contant">
                <div class="quiz-content p-4">
                    <div class="quiz-list mb-3">
                        <div class="bg-grey px-3 border-bottom py-3 mt-2 mb-2 d-flex justify-content-between">
                            <div>
                                <span class="f-18 ml-3">Quiz Overview
                                </span>
                            </div>

                        </div>

                        <div class="tabs-content mt-4">
                            <div class="table-row-wrap border p-3">
                                <div class="row">

                                    <div class="col-md-5">
                                        <ul class="mb-0 list-unstyled">
                                            <li class="py-2 mb-1"><span class="w-50"> Attempts </span> : &nbsp; 200
                                            </li>
                                            <li class="py-2"><span class="w-50"> Attempts(Compx)</span> : &nbsp; L1(70) | L2(33) | L3(97) </li>
                                            <li class="py-2"><span class="w-50"> Quiz Points</span> : &nbsp; 1000 </li>
                                            <li class="py-2"><span class="w-50"> Last Attempts </span> : &nbsp; 11 Jul, 2020
                                            </li>
                                            <li class="py-2"><span class="w-50"> xxxxxxxx </span> : &nbsp; 200</li>
                                            <li class="py-2"><span class="w-50"> xxxxxxxx </span> : &nbsp; 11 Jul, 2020
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-5 text-center">
                                        <apx-chart [series]="chartOptions.series[0].data" [chart]="chartOptions.chart" [responsive]="chartOptions.responsive"></apx-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border pr-3">
                        <div class="table-responsive">
                            <table class="table fold-table">
                                <thead>
                                    <tr>
                                        <th>Quiz Title</th>
                                        <th>Compx</th>
                                        <th>Scored</th>
                                        <th>Date</th>
                                        <th>Perfor</th>
                                        <th>Attempts</th>
                                        <th>Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="30">
                                            <div class="custom-radio d-flex border-bottom align-items-center">
                                                <select class="p-2  mr-4">
                                                    <option value="0">Languages
                                                    </option>
                                                </select>
                                                <ul class="list-inline p-0 mb-4 clearfix">
                                                    <li class="list-inline-item  w-auto">
                                                        <input type="radio" id="all" name="selector">
                                                        <label for="all">All</label>
                                                        <div class="check"></div>
                                                    </li>
                                                    <li class="list-inline-item  w-auto">
                                                        <input type="radio" id="radio1" name="selector">
                                                        <label for="radio1">L1
                                                        </label>
                                                        <div class="check">
                                                        </div>
                                                    </li>
                                                    <li class="list-inline-item  w-auto">
                                                        <input type="radio" id="radio4" name="selector">
                                                        <label for="radio4">L2</label>
                                                        <div class="check">
                                                        </div>
                                                    </li>
                                                    <li class="list-inline-item  w-auto">
                                                        <input type="radio" id="radio5" name="selector">
                                                        <label for="radio5">L3</label>
                                                        <div class="check">
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" width="20" height="20">
                                        </td>
                                        <td>
                                            Core Java Master Quiz
                                        </td>
                                        <td>
                                            L1
                                        </td>
                                        <td>88%</td>
                                        <td>10 Nov, 2021</td>
                                        <td>Good</td>
                                        <td>2</td>
                                        <td>200</td>
                                        <td><i data-toggle="modal" data-target="#deleteModal" class="fa fa-trash" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" width="20" height="20">
                                        </td>
                                        <td>
                                            Core Java Master Quiz
                                        </td>
                                        <td>
                                            L3
                                        </td>
                                        <td>98%</td>
                                        <td>30 Oct, 2021</td>
                                        <td>Excellent</td>
                                        <td>-</td>
                                        <td>500</td>
                                        <td><i data-toggle="modal" data-target="#deleteModal" class="fa fa-trash" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" width="20" height="20">
                                        </td>
                                        <td>
                                            Core Java Master Quiz
                                        </td>
                                        <td>
                                            L1
                                        </td>
                                        <td>88%</td>
                                        <td>10 Nov, 2021</td>
                                        <td>Good</td>
                                        <td>4</td>
                                        <td>200</td>
                                        <td><i data-toggle="modal" data-target="#deleteModal" class="fa fa-trash" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    <tr class="view">
                                        <td>
                                            <input type="checkbox" width="20" height="20">
                                        </td>
                                        <td>
                                            Core Java Master Quiz
                                        </td>
                                        <td>
                                            L3
                                        </td>
                                        <td>98%</td>
                                        <td>30 Oct, 2021</td>
                                        <td>Average</td>
                                        <td>3</td>
                                        <td>100</td>
                                        <td><i data-toggle="modal" data-target="#deleteModal" class="fa fa-trash" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    <tr class="fold">
                                        <td colspan="30">
                                            <div class="fold-content">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <span class="text-success">
                                                                    33(C)
                                                                </span> |
                                                                <span class="text-danger">
                                                                    02(W)
                                                                </span> |
                                                                <span>
                                                                    05(S)
                                                                </span>
                                                            </td>
                                                            <td>
                                                                Core Java Master Quiz
                                                            </td>
                                                            <td>
                                                                L3
                                                            </td>
                                                            <td>98%</td>
                                                            <td>30 Oct, 2021</td>
                                                            <td>Average</td>
                                                            <td>3</td>
                                                            <td>100</td>
                                                            <td><i data-toggle="modal" data-target="#deleteModal" class="fa fa-trash" aria-hidden="true"></i>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span class="text-success">
                                                                    33(C)
                                                                </span> |
                                                                <span class="text-danger">
                                                                    02(W)
                                                                </span> |
                                                                <span>
                                                                    05(S)
                                                                </span>
                                                            </td>
                                                            <td>
                                                                Core Java Master Quiz
                                                            </td>
                                                            <td>
                                                                L3
                                                            </td>
                                                            <td>98%</td>
                                                            <td>30 Oct, 2021</td>
                                                            <td>Average</td>
                                                            <td>3</td>
                                                            <td>100</td>
                                                            <td><i data-toggle="modal" data-target="#deleteModal" class="fa fa-trash" aria-hidden="true"></i>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span class="text-success">
                                                                    33(C)
                                                                </span> |
                                                                <span class="text-danger">
                                                                    02(W)
                                                                </span> |
                                                                <span>
                                                                    05(S)
                                                                </span>
                                                            </td>
                                                            <td>
                                                                Core Java Master Quiz
                                                            </td>
                                                            <td>
                                                                L3
                                                            </td>
                                                            <td>98%</td>
                                                            <td>30 Oct, 2021</td>
                                                            <td>Average</td>
                                                            <td>3</td>
                                                            <td>100</td>
                                                            <td><i data-toggle="modal" data-target="#deleteModal" class="fa fa-trash" aria-hidden="true"></i>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center my-5">
                            <button class="btn btn-lights  py-2 px-5  text-dark">Load More</button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 400px;">
        <div class="modal-content" style="border-radius:14px;">
            <div class="modal-body py-4 px-md-5">
                <div class="d-flex">
                    <i class="fa fa-exclamation-triangle text-warning d-inline-block mr-3" style="font-size: 30px;"></i>
                    <div>
                        <p>
                            We are not recommended not to delete the quiz s records as its quiz s point also deleted and reports also helps you to analyze your performance.
                        </p>
                        <p>
                            <b>
                                Still you wants to delete report ?
                            </b>
                        </p>
                    </div>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center pt-0" style="border:none">
                <button class="btn btn-orange  py-2 px-5 rounded text-white">Delete</button>
                <button class="btn btn-lights  py-2 px-5 rounded text-dark" data-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
        </div>
    </div>
</div>