<app-primary-header></app-primary-header>
<app-secondary-header></app-secondary-header>
<div class="container-fluid py-3">
    <div class="row div-row">
        <div class="col-lg-3 width-20 px-0 pr-2">
            <aside>
                <div class="sidebar">
                    <div class="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left">
                    <h4 class="mb-0"> <b><img src="assets/images/java.png" class="java-icon" alt="" width="25">
                        Java</b></h4>
                  </button>
                                </h2>
                            </div>

                            <!-- <div id="collapseOne" class="collapse show" aria-labelledby="headingOne01"
                data-parent="#accordionExample"> -->
                            <div class="card-body">
                                <div class="accordion" id="accordionExample01">
                                    <div class="card">
                                        <div class="card-header" id="headingOne01">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne01" aria-expanded="true" aria-controls="collapseOne01">
                          <span class="icon-collapse"></span> Java
                        </button>
                                            </h2>
                                        </div>

                                        <div id="collapseOne01" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample01">
                                            <div class="card-body">
                                                <ul class="mb-0">
                                                    <li routerLink="/mcq-details">Java Basics</li>
                                                    <li class="py-2">Data Types</li>
                                                    <li class="py-2"> Flow Control</li>
                                                    <li class="py-2">OOPs</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo01">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo01" aria-expanded="false" aria-controls="collapseTwo01">
                          <span class="icon-collapse"></span> JDBC
                        </button>
                                            </h2>
                                        </div>
                                        <div id="collapseTwo01" class="collapse" aria-labelledby="headingTwo01" data-parent="#accordionExample01">
                                            <div class="card-body">
                                                <ul class="mb-0">
                                                    <li class="py-2">List menu</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree01">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree01" aria-expanded="false" aria-controls="collapseThree01">
                          <span class="icon-collapse"></span> Servlet
                        </button>
                                            </h2>
                                        </div>
                                        <div id="collapseThree01" class="collapse" aria-labelledby="headingThree01" data-parent="#accordionExample01">
                                            <div class="card-body">
                                                <ul class="mb-0">
                                                    <li class="py-2">List menu</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingfour01">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefour01" aria-expanded="false" aria-controls="collapsefour01">
                          <span class="icon-collapse"></span> JSP
                        </button>
                                            </h2>
                                        </div>
                                        <div id="collapsefour01" class="collapse" aria-labelledby="headingfour01" data-parent="#accordionExample01">
                                            <div class="card-body">
                                                <ul class="mb-0">
                                                    <li class="py-2">List menu</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingfive01">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefive01" aria-expanded="false" aria-controls="collapsefive01">
                          <span class="icon-collapse"></span> Microservices
                        </button>
                                            </h2>
                                        </div>
                                        <div id="collapsefive01" class="collapse" aria-labelledby="headingfive01" data-parent="#accordionExample01">
                                            <div class="card-body">
                                                <ul class="mb-0">
                                                    <li class="py-2">List menu</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span class="icon-collapse"></span> Python
                  </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <ul class="mb-0 list-unstyled pl-5 py-3 ml-3 dotted-lines">
                                    <li class="py-2">Tutorials</li>
                                    <li class="py-2">Practice Quesstions</li>
                                    <li class="py-2">Quiz</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span class="icon-collapse"></span> PHP
                  </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <ul class="mb-0 list-unstyled pl-5 py-3 ml-3 dotted-lines">
                                    <li class="py-2">List Menu</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                    <span class="icon-collapse"></span> Dot Net
                  </button>
                                </h2>
                            </div>
                            <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                                <ul class="mb-0 list-unstyled pl-5 py-3 ml-3 dotted-lines">
                                    <li class="py-2">List Menu</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfive">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                    <span class="icon-collapse"></span> C++
                  </button>
                                </h2>
                            </div>
                            <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                                <ul class="mb-0 list-unstyled pl-5 py-3 ml-3 dotted-lines">
                                    <li class="py-2">List Menu</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-lg-6 width-60 px-0">
            <main class="main-contant">
                <div class="middle-contant">
                    <div class="search-bar border">
                        <div class="filter-icon"><i class="fa fa-filter" aria-hidden="true"></i></div>
                        <div class="search-input">
                            <input type="text" class="form-control border-0" placeholder="Search by QuesId or Text">
                        </div>
                        <div class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div class="table-head pt-3 pl-1">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="f-18"> MCQ - Java Basics</span>
                        <div class="action-div">
                            <!-- <button class="btn">12 <i class="fa fa-angle-down" aria-hidden="true"></i></button> -->
                            <div class="dropdown d-inline">
                                <button class="btn px-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                  12 <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">12</a>
                                    <a class="dropdown-item" href="#">13</a>
                                    <a class="dropdown-item" href="#">14</a>
                                </div>
                            </div>
                            <button class="btn"> <i class="fa fa-angle-left" aria-hidden="true"></i>
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                Prev</button>
                            <button class="btn"> Next <i class="fa fa-angle-right" aria-hidden="true"></i>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </button>
                        </div>
                    </div>
                </div>
                <hr>
                <ng-container>
                    <div class="row mt-2">
                        <div class="col-1 px-0 text-center">
                            <h5 class="f-18 ml-1">1</h5>
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="like mt-3 pb-2">
                                    <img class="social-icons" src="assets/images/like.png" alt="">
                                    <p class="opacity">2.3k</p>
                                </div>
                                <div class="total-views mt-1 pb-2 text-center">
                                    <img class="social-icons" src="assets/images/view.png" alt="">
                                    <p class="opacity">255.9k</p>
                                </div>
                                <div class="range mt-1">
                                    <img class="social-icons" src="assets/images/range.png" alt="">
                                    <p class="opacity">Medium</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-11 px-0 pr-2">
                            <div class="row px-3">
                                <div class="col-10">
                                    <div class="question">
                                        <p class="f-17">What is the output of this program ?</p>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="d-flex justify-content-between">
                                        <img class="social-icons" (click)="bookmarkme()" src="assets/images/bookmark.png" alt="">
                                        <img class="social-icons" (click)="copyCode(model2.value)" src="assets/images/copy.png" alt="">
                                        <img class="social-icons" data-toggle="modal" data-target="#shareContest" src="assets/images/share.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <ngs-code-editor [theme]="theme" [codeModel]="model2" [options]="options" (valueChanged)="onCodeChanged($event)" [readOnly]=true>
                            </ngs-code-editor>
                            <div class="options mt-5">
                                <p>
                                    <b class="f-16">A</b> <span class="f-16 opacity">What is the output of this program</span>
                                </p>
                                <p>
                                    <b class="f-16">B</b> <span class="f-16 opacity">What is the output of this program</span>
                                </p>
                                <p>
                                    <b class="f-16">C</b> <span class="f-16 opacity">What is the output of this program</span>
                                </p>
                                <p>
                                    <b class="f-16">D</b> <span class="f-16 opacity">What is the output of this program</span>
                                </p>
                            </div>
                            <mat-tab-group>
                                <mat-tab label="Answer">
                                    <p>Answers: A,C</p>
                                    <p>Explanation</p>
                                    <p>A common UX situation requires us to disable certain areas of the view (buttons, dropdowns etc...). My use case is that certain tabs should not be accessible to the user based on a model value. A clean solution would
                                        be to have a disabled property on the tab, to be used like</p>
                                </mat-tab>
                                <mat-tab label="Video">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/9xwazD5SyVg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </mat-tab>
                                <mat-tab label="Support"> Content 3 </mat-tab>
                                <mat-tab label="Report">
                                    <textarea name="" id="" rows="5" class="w-100 p-2" style="border: 1px solid #ddddddd9;" placeholder="Please share your experience"></textarea>
                                    <button class="btn btn-success">Submit</button>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </ng-container>
                <ng-container>
                    <div class="row mt-5 pt-5">
                        <div class="col-1 px-0 text-center">
                            <h5 class="f-18 ml-1">1</h5>
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="like mt-3 pb-2">
                                    <img class="social-icons" src="assets/images/like.png" alt="">
                                    <p class="opacity">2.3k</p>
                                </div>
                                <div class="total-views mt-1 pb-2 text-center">
                                    <img class="social-icons" src="assets/images/view.png" alt="">
                                    <p class="opacity">255.9k</p>
                                </div>
                                <div class="range mt-1">
                                    <img class="social-icons" src="assets/images/range.png" alt="">
                                    <p class="opacity">Medium</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-11 px-0 pr-2">
                            <div class="row px-3">
                                <div class="col-10">
                                    <div class="question">
                                        <p class="f-17">What is the output of this program ?</p>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="d-flex justify-content-between">
                                        <img class="social-icons" src="assets/images/bookmark.png" alt="">
                                        <img class="social-icons" (click)="copyCode(model.value)" src="assets/images/copy.png" alt="">
                                        <img class="social-icons" data-toggle="modal" data-target="#shareContest" src="assets/images/share.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <ngs-code-editor [theme]="theme" [codeModel]="model1" [options]="options" (valueChanged)="onCodeChanged($event)" [readOnly]=true>
                            </ngs-code-editor>
                            <div class="options mt-5">
                                <p>
                                    <b class="f-16">A</b> <span class="f-16 opacity">What is the output of this program</span>
                                </p>
                                <p>
                                    <b class="f-16">B</b> <span class="f-16 opacity">What is the output of this program</span>
                                </p>
                                <p>
                                    <b class="f-16">C</b> <span class="f-16 opacity">What is the output of this program</span>
                                </p>
                                <p>
                                    <b class="f-16">D</b> <span class="f-16 opacity">What is the output of this program</span>
                                </p>
                            </div>
                            <mat-tab-group>
                                <mat-tab label="Answer">
                                    <p>Answers: A,C</p>
                                    <p>Explanation</p>
                                    <p>A common UX situation requires us to disable certain areas of the view (buttons, dropdowns etc...). My use case is that certain tabs should not be accessible to the user based on a model value. A clean solution would
                                        be to have a disabled property on the tab, to be used like</p>
                                </mat-tab>
                                <mat-tab label="Video">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/9xwazD5SyVg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </mat-tab>
                                <mat-tab label="Support"> Content 3 </mat-tab>
                                <mat-tab label="Report">
                                    <textarea name="" id="" rows="5" class="w-100 p-2" style="border: 1px solid #ddddddd9;" placeholder="Please share your experience"></textarea>
                                    <button class="btn btn-success">Submit</button>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </ng-container>
                <ng-container>
                    <div class="row mt-5 pt-5">
                        <div class="col-1 px-0 text-center">
                            <h5 class="f-18 ml-1">1</h5>
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="like mt-3 pb-2">
                                    <img class="social-icons" src="assets/images/like.png" alt="">
                                    <p class="opacity">2.3k</p>
                                </div>
                                <div class="total-views mt-1 pb-2 text-center">
                                    <img class="social-icons" src="assets/images/view.png" alt="">
                                    <p class="opacity">255.9k</p>
                                </div>
                                <div class="range mt-1">
                                    <img class="social-icons" src="assets/images/range.png" alt="">
                                    <p class="opacity">Medium</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-11 px-0 pr-2">
                            <div class="row px-3">
                                <div class="col-10">
                                    <div class="question">
                                        <p class="f-17">What is the output of this program ?</p>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="d-flex justify-content-between">
                                        <img class="social-icons" src="assets/images/bookmark.png" alt="">
                                        <img class="social-icons" (click)="copyCode(model.value)" src="assets/images/copy.png" alt="">
                                        <img class="social-icons" data-toggle="modal" data-target="#shareContest" src="assets/images/share.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <ngs-code-editor [theme]="theme" [codeModel]="model" [options]="options" (valueChanged)="onCodeChanged($event)" [readOnly]=true>
                            </ngs-code-editor>
                            <div class="options mt-5">
                                <p>
                                    <b class="f-16">A</b> <span class="f-16 opacity">What is the output of this program</span>
                                </p>
                                <p>
                                    <b class="f-16">B</b> <span class="f-16 opacity">What is the output of this program</span>
                                </p>
                                <p>
                                    <b class="f-16">C</b> <span class="f-16 opacity">What is the output of this program</span>
                                </p>
                                <p>
                                    <b class="f-16">D</b> <span class="f-16 opacity">What is the output of this program</span>
                                </p>
                            </div>
                            <mat-tab-group>
                                <mat-tab label="Answer">
                                    <p>Answers: A,C</p>
                                    <p>Explanation</p>
                                    <p>A common UX situation requires us to disable certain areas of the view (buttons, dropdowns etc...). My use case is that certain tabs should not be accessible to the user based on a model value. A clean solution would
                                        be to have a disabled property on the tab, to be used like</p>
                                </mat-tab>
                                <mat-tab label="Video">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/9xwazD5SyVg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </mat-tab>
                                <mat-tab label="Support"> Content 3 </mat-tab>
                                <mat-tab label="Report">
                                    <textarea name="" id="" rows="5" class="w-100 p-2" style="border: 1px solid #ddddddd9;" placeholder="Please share your experience"></textarea>
                                    <button class="btn btn-success">Submit</button>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </ng-container>
            </main>
        </div>
        <div class="col-lg-3 width-20 px-0 pl-3">
            <div class="table-content">
                <div class="table-head">
                    Quiz
                </div>
                <div class="adds-wrap text-center mt-3">
                    <p class="f-14 opacity mb-0">Java Practice Test Quiz for Beginner
                    </p>
                    <p class="f-12 d-flex w-70 justify-content-between mb-0">
                        <span class="f-11 opacity ml-1">45 NQQ</span>
                        <span class="f-11 opacity">45 NQQ</span>
                        <span class="f-11 opacity">45 NQQ</span>
                    </p>
                    <div class="d-flex">
                        <form [formGroup]="form">
                            <div class="cont">
                                <div class="stars">
                                    <ngx-star-rating formControlName="rating2" [id]="'rating2'"></ngx-star-rating>
                                </div>
                            </div>
                        </form>
                        <p class="f-11 opacity ml-1">4.9</p>
                        <p class="f-11 opacity ml-1">(2320)</p>
                    </div>
                    <div class="bg-black-star">
                        <div class="start-btn">
                            <button class="btn btn-success start-btn">Start</button>
                        </div>
                    </div>
                </div>
                <div class="adds-wrap text-center mt-3">
                    <p class="f-14 opacity mb-0">
                        Java Practice Test Quiz for Beginner
                    </p>
                    <p class="f-12 d-flex w-70 justify-content-between mb-0">
                        <span class="f-11 opacity ml-1">45 NQQ</span>
                        <span class="f-11 opacity">45 NQQ</span>
                        <span class="f-11 opacity">45 NQQ</span>
                    </p>
                    <div class="d-flex">
                        <form [formGroup]="form">
                            <div class="cont">
                                <div class="stars">
                                    <ngx-star-rating formControlName="rating2" [id]="'rating2'"></ngx-star-rating>
                                </div>
                            </div>
                        </form>
                        <p class="f-11 opacity ml-1">4.9</p>
                        <p class="f-11 opacity ml-1">(2320)</p>
                    </div>
                    <div class="bg-black-star">
                        <div class="start-btn">
                            <button class="btn btn-success start-btn">Start</button>
                        </div>
                    </div>
                </div>
                <div class="adds-wrap text-center mt-3">
                    <p class="f-14 opacity mb-0">
                        Java Practice Test Quiz for Beginner
                    </p>
                    <p class="f-12 d-flex w-70 justify-content-between mb-0">
                        <span class="f-11 opacity ml-1">45 NQQ</span>
                        <span class="f-11 opacity">45 NQQ</span>
                        <span class="f-11 opacity">45 NQQ</span>
                    </p>
                    <div class="d-flex">
                        <form [formGroup]="form">
                            <div class="cont">
                                <div class="stars">
                                    <ngx-star-rating formControlName="rating2" [id]="'rating2'"></ngx-star-rating>
                                </div>
                            </div>
                        </form>
                        <p class="f-11 opacity ml-1">4.9</p>
                        <p class="f-11 opacity ml-1">(2320)</p>
                    </div>
                    <div class="bg-black-star">
                        <div class="start-btn">
                            <button class="btn btn-success start-btn">Start</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="other-technology mt-5 py-5 px-4 px-lg-5">
    <span class="show-footer"></span>
    <div class="container">
        <div class="main-head text-center c-pointer d-block pb-4">
            Switch to other technology
        </div>
        <div class="content mt-4">
            <div class="row">
                <div class="col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link" id="v-pills-programming-tab" data-toggle="pill" href="#v-pills-programming" role="tab" aria-controls="v-pills-programming" aria-selected="false">Programming</a>
                        <a class="nav-link" id="v-pills-algorithms-tab" data-toggle="pill" href="#v-pills-algorithms" role="tab" aria-controls="v-pills-algorithms" aria-selected="false">DS & Algorithms</a>
                        <a class="nav-link" id="v-pills-ai-machine-tab" data-toggle="pill" href="#v-pills-ai-machine" role="tab" aria-controls="v-pills-ai-machine" aria-selected="false">AI & Machine Learning </a>
                        <a class="nav-link active" id="v-pills-software-tab" data-toggle="pill" href="#v-pills-software" role="tab" aria-controls="v-pills-software" aria-selected="true">Software Testing </a>
                        <a class="nav-link" id="v-pills-software-tab" data-toggle="pill" href="#v-pills-marketing" role="tab" aria-controls="v-pills-marketing" aria-selected="false">Digital Marketing </a>
                        <a class="nav-link" id="v-pills-cloud-tab" data-toggle="pill" href="#v-pills-cloud" role="tab" aria-controls="v-pills-cloud" aria-selected="false">Cloud Computing </a>
                        <a class="nav-link" id="v-pills-management-tab" data-toggle="pill" href="#v-pills-management" role="tab" aria-controls="v-pills-management" aria-selected="false">Project Management</a>
                        <a class="nav-link" id="v-pills-science-tab" data-toggle="pill" href="#v-pills-science" role="tab" aria-controls="v-pills-science" aria-selected="false">Data Science & BI  </a>
                    </div>
                </div>
                <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade " id="v-pills-programming" role="tabpanel" aria-labelledby="v-pills-programming-tab">
                            <div class="row pt-2">
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                        <div class="icon mr-3">
                                            <img src="assets/images/icon1.png" alt="icon1" class="img-fluid" width="40">
                                        </div>
                                        <div class="content-info">
                                            Selenium 465465465465
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                        <div class="icon mr-3">
                                            <img src="assets/images/icon2.png" alt="icon2" class="img-fluid" width="40">
                                        </div>
                                        <div class="content-info">
                                            Ui Path
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                        <div class="icon mr-3">
                                            <img src="assets/images/icon3.png" alt="icon3" class="img-fluid" width="40">
                                        </div>
                                        <div class="content-info">
                                            Automation Anywhere
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-algorithms" role="tabpanel" aria-labelledby="v-pills-algorithms-tab">
                            algorithms</div>
                        <div class="tab-pane fade" id="v-pills-ai-machine" role="tabpanel" aria-labelledby="v-pills-ai-machine-tab">
                            machine</div>
                        <div class="tab-pane fade show active" id="v-pills-software" role="tabpanel" aria-labelledby="v-pills-software-tab">
                            <div class="row pt-2">
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                        <div class="icon mr-3">
                                            <img src="assets/images/icon1.png" alt="icon1" class="img-fluid" width="40">
                                        </div>
                                        <div class="content-info">
                                            Selenium
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                        <div class="icon mr-3">
                                            <img src="assets/images/icon2.png" alt="icon2" class="img-fluid" width="40">
                                        </div>
                                        <div class="content-info">
                                            Ui Path
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                        <div class="icon mr-3">
                                            <img src="assets/images/icon3.png" alt="icon3" class="img-fluid" width="40">
                                        </div>
                                        <div class="content-info">
                                            Automation Anywhere
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-marketing" role="tabpanel" aria-labelledby="v-pills-marketing-tab">
                            marketing</div>
                        <div class="tab-pane fade" id="v-pills-software" role="tabpanel" aria-labelledby="v-pills-software-tab">
                            software</div>
                        <div class="tab-pane fade" id="v-pills-cloud" role="tabpanel" aria-labelledby="v-pills-cloud-tab">cloud
                        </div>
                        <div class="tab-pane fade" id="v-pills-management" role="tabpanel" aria-labelledby="v-pills-management-tab">
                            management</div>
                        <div class="tab-pane fade" id="v-pills-science" role="tabpanel" aria-labelledby="v-pills-science-tab">
                            <div class="row pt-2">
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                        <div class="icon mr-3">
                                            <img src="assets/images/icon1.png" alt="icon1" class="img-fluid" width="40">
                                        </div>
                                        <div class="content-info">
                                            Selenium
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                        <div class="icon mr-3">
                                            <img src="assets/images/icon2.png" alt="icon2" class="img-fluid" width="40">
                                        </div>
                                        <div class="content-info">
                                            Ui Path
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                        <div class="icon mr-3">
                                            <img src="assets/images/icon3.png" alt="icon3" class="img-fluid" width="40">
                                        </div>
                                        <div class="content-info">
                                            Automation Anywhere
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 my-2">
                                    <div class="box-wrap p-3 d-flex align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="shareContest" tabindex="-1" role="dialog" aria-labelledby="shareContestLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 295px;top:28%">
        <div class="modal-content" style="border-radius:14px;">
            <div class="modal-header pb-0 text-center" style="border:none">
                <h5 class="modal-title px-4 mt-1" id="shareContestLabel" style="font-size: 20px;font-weight: 500">Invite your friends to start learning.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body py-0 mt-3 mb-3 text-center">
                <span class="ml-2 mr-2" (click)="shareWhatsApp(1)"><img src="assets/images/whatsapp.jpeg" class="social-icons" alt=""> </span>
                <span class="ml-2 mr-2" (click)="shareWhatsApp(2)"><img src="assets/images/twitter.jpeg" class="social-icons" alt=""> </span>
                <span class="ml-2 mr-2" (click)="shareWhatsApp(3)"><img src="assets/images/instagram.jpeg" class="social-icons" alt=""> </span>
                <span class="ml-2 mr-2" (click)="shareWhatsApp(4)"><img src="assets/images/facebook.jpeg" class="social-icons" alt=""> </span>
            </div>
            <div class="modal-footer d-flex justify-content-center" style="border:none">
            </div>
        </div>
    </div>
</div>