<app-primary-header></app-primary-header>
<app-secondary-header></app-secondary-header>
<div class="user-wrap d-flex align-items-center justify-content-center">
    <div class="user-login-box">
        <h1 class="mb-5">
            <img src="assets/images/user.png" alt="" class="mr-1" width="40"> Create Account
        </h1>
        <form class="px-4">
            <div class="form-group d-flex">
                <select class="form-control mr-3" style="width:60px">
                    <option value="">Mr.</option>
                    <option value="">Mrs.</option>
                    <option value="">Miss.</option>
                </select>
                <input type="input" class="form-control" placeholder=" Full Name *">

            </div>
            <div class="form-group d-flex">
                <select class="form-control" style="width:85px">
                    <option value="">+91</option>
                    <option value="">+01</option>
                    <option value="">+75</option>
                </select>
                <input type="input" class="form-control" placeholder=" Mobile *">
            </div>
            <label for="">OTP will be sent to this number
            </label>
            <div class="form-group">
                <input type="input" class="form-control" placeholder=" Email ID">
            </div>
            <div class="form-group position-relative">
                <input type="password" class="form-control pr-5" placeholder="password *">
                <div class="position-absolute show-password">
                    <img src="assets/images/eye.png" alt="eye" width="20">
                </div>
            </div>

            <div class="form-group">
                <label for="">Are you planning for training ? * </label>
                <div class="custom-radio">
                    <ul class="list-inline p-0 mb-4 clearfix">
                        <li class="list-inline-item  w-auto">
                            <input type="radio" id="f-option" name="selector">
                            <label for="f-option">Immediate</label>

                            <div class="check"></div>
                        </li>

                        <li class="list-inline-item  w-auto">
                            <input type="radio" id="s-option" name="selector">
                            <label for="s-option">After 
                                <select name="" id="">
                                    <option value="">45</option>
                                    <option value="">55</option>
                                    <option value="">60</option>
                                </select>
                                Days
                            </label>

                            <div class="check">
                                <div class="inside"></div>
                            </div>
                        </li>
                        <li class="list-inline-item  w-auto">
                            <input type="radio" id="a-option" name="selector">
                            <label for="a-option">No Plan</label>

                            <div class="check">
                                <div class="inside"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="text-center">
                <button class="btn dark-btn w-75  py-3">Create Account
                </button>
            </div>

            <div class="text-center my-4">
                <h3> Already have an account? <a href="javascript:" routerLink="/login">SignIn </a> </h3>
            </div>
        </form>
        <p class="f-12">
            Note: By continuing and signing in, you agree to technical99's <a href="javascript:"> Terms & Conditions</a> and
            <a href="javascript:">Privacy Policy.</a>
        </p>
    </div>
</div>