.social-icons {
    height: 20px;
    width: 20px;
    opacity: .8;
    cursor: pointer;
}

.opacity {
    opacity: .8;
}

.options span {
    padding-left: 20px;
}

#shareContest .invite-contest {
    max-width: 20px;
    max-height: 25px;
    padding-bottom: 2px;
    cursor: pointer;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#shareContest img.social-icons {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.submit-btn {
    background-color: #2d75b5 !important;
}

.bg-grey.px-4.py-2.mt-2.mb-2 {
    border: 1px solid #f3f3f3;
    background: #fcfcfc;
    padding: 10px !important;
}

.bg-grey.mx-3.py-2.mt-2.mb-2.d-flex.justify-content-between {
    border: 1px solid #f3f3f3;
    background: #fcfcfc;
    padding: 10px !important;
}

.fa-bookmark:before {
    content: "";
    font-size: 22px;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

.opacity {
    opacity: .7;
}

.table-content .table-head {
    background-color: #f1f1f160 !important;
    // border: 1px solid #0000000a !important;
}

.sidebar .accordion {
    border: none !important;
}

.number_of_questions {
    border: 1px solid #0000001a;
    // backgound-color:red;
    text-align: center;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 13px;
}

.red-color {
    background-color: red;
    color: #fff;
}

.blue-color {
    background-color: blue;
    color: #fff;
}

.sidebar .accordion .card .card-header {
    padding: 0;
    background-color: #fafafa;
    border-radius: 0;
}

.custom-radio ul li label {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 1.1em;
    padding: 5px 14px 12px 49px;
    margin: 7px auto;
    height: 17px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.card {
    background-color: #fafafa;
}

.table-content .table-head {
    padding: 5px;
}

.card-body {
    padding: .7rem;
}