<div class="container-fluid py-3" id="quiz-container">
    <div class="row div-row">
        <div class="col-lg-12 ">
            <div class="bg-grey px-4 py-2 mt-2 mb-2 d-flex justify-content-between">
                <div>
                    <img src="assets/images/java.png" class="java-icon" alt="" width="25">
                    <span class="f-18 ml-3">Core Java Practice Quiz Series Set-I, JAQ-002</span>
                </div>
                <span class="timer f-20" style="font-size: 28px;">{{timer}}</span>

            </div>
        </div>
        <div class="col-lg-9 px-0">
            <div class="border pr-3 mt-3" style="min-height: 100%;">
                <div class="bg-grey mx-3 py-2 mt-2 mb-2 d-flex justify-content-between">
                    <div>
                        <span class="f-18 ml-3">Topic: Core Java - Collection</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <i class="fas fa-bookmark"></i><span class="f-18 ml-3 mr-5">Bookmark</span>
                        <span class="f-18 ml-3">Marks:</span> <span class="f-18 ml-3 text-green">+3 &nbsp; | &nbsp;</span> <span class="f-18 ml-3 text-red">- 0.5</span>
                    </div>
                </div>
                <main class="main-contant mt-4 pb-4">
                    <ng-container>
                        <div class="row mt-2 ml-3">
                            <div class="col-12 pr-3">
                                <div class="row px-3">
                                    <div class="col-12">
                                        <div class="question">
                                            <p class="f-17 mb-4">Q.1 What is the output of following piece of Java code ?
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <ngs-code-editor [theme]="theme" [codeModel]="model2" [options]="options" (valueChanged)="onCodeChanged($event)" [readOnly]=true>
                                </ngs-code-editor>
                            </div>
                        </div>
                    </ng-container>

                    <div class="options-wrap mt-4">
                        <div class="mt-5 pl-4 mb-2 ml-3">
                            <span class="f-18 ml-3">Options :</span>
                        </div>
                        <div class="custom-radio">

                            <ul>
                                <li>
                                    <input type="radio" id="f-option" name="selector">
                                    <label for="f-option">8 X 0 = 8</label>

                                    <div class="check"></div>
                                </li>

                                <li>
                                    <input type="radio" id="s-option" name="selector">
                                    <label for="s-option">Compilation error</label>

                                    <div class="check">
                                        <div class="inside"></div>
                                    </div>
                                </li>

                                <li>
                                    <input type="radio" id="t-option" name="selector">
                                    <label for="t-option">An exception thrown at runtime
                            </label>

                                    <div class="check">
                                        <div class="inside"></div>
                                    </div>
                                </li>
                                <li>
                                    <input type="radio" id="option1" name="selector">
                                    <label for="option1">All of these </label>
                                    <div class="check">
                                        <div class="inside"></div>
                                    </div>
                                </li>
                                <li>
                                    <input type="radio" id="option2" name="selector">
                                    <label for="option2">None of these </label>
                                    <div class="check">
                                        <div class="inside"></div>
                                    </div>
                                </li>
                                <li>
                                    <input type="radio" id="option3" name="selector">
                                    <label for="option3">thrUnpredictable output own </label>
                                    <div class="check">
                                        <div class="inside"></div>
                                    </div>
                                </li>
                                <li>
                                    <input type="radio" id="option4" name="selector">
                                    <label for="option4">Successfully run </label>
                                    <div class="check">
                                        <div class="inside"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-right">
                        <div class="action-div">
                            <button class="btn btn-success  submit-btn px-5 mr-3 rounded" data-toggle="modal" data-target="#startQuiz">Submit</button>
                            <button class="btn"> <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            Prev</button>
                            <button class="btn"> Next <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </button>
                        </div>
                    </div>

                </main>
            </div>
        </div>
        <div class="col-lg-3  px-0 pl-3 mt-3">
            <div class="table-content text-center">
                <div class="table-content">
                    <div class="table-head pb-5">
                        <div class="row mx-0">
                            <div class="col-md-4">
                                <circle-progress [percent]="100" [radius]="100" [innerStrokeWidth]="0" [outerStrokeWidth]="15" [showSubtitle]=false [titleFontSize]='80' [units]="" [unitsFontSize]='0' [space]=0 [responsive]=true [innerStrokeColor]="'#a5a5a5'" [animation]="true" [animationDuration]="300"></circle-progress>
                                <span class="f-18 text-center">Bookmark</span>
                            </div>
                            <div class="col-md-4">
                                <circle-progress [percent]="100" [radius]="100" [innerStrokeWidth]="0" [outerStrokeWidth]="15" [showSubtitle]=false [titleFontSize]='80' [units]="" [unitsFontSize]='0' [outerStrokeColor]="'#ff9900'" [innerStrokeColor]="'#595959'" [responsive]=true [animation]="true"
                                    [animationDuration]="300"></circle-progress>
                                <span class="f-18 text-center">Remaining</span>

                            </div>
                            <div class="col-md-4">
                                <!-- "imageSrc": "assets/images/music.svg", "imageHeight": 105, "imageWidth": 105, "showImage": true, "showBackground": false -->
                                <circle-progress [percent]="100" [radius]="100" [innerStrokeWidth]="0" [outerStrokeWidth]="15" [showSubtitle]=false [titleFontSize]='80' [units]="" [unitsFontSize]='0' [innerStrokeColor]="'#0000'" [responsive]=true [animation]="true" [animationDuration]="300"></circle-progress>
                                <span class="f-18 text-center">Pause</span>

                            </div>
                        </div>
                    </div>
                    <div class="table-head mt-3">
                        <div class="row mx-0">
                            <div class="col-2 px-0" *ngFor="let ques of questionCount">
                                <p class="number_of_questions" [ngClass]="{'red-color':ques.color=='red','blue-color':ques.color=='blue'}">{{ques.value}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="table-head mt-3">
                        <aside>
                            <div class="sidebar" style="padding-bottom: 0px;">
                                <div class="accordion">
                                    <div class="card">
                                        <span class="f-20 mt-3 text-left ml-2">Modules</span>
                                        <div class="card-body">
                                            <div class="accordion" id="accordionExample01">
                                                <div class="card">
                                                    <div class="card-header" id="headingOne01">
                                                        <h2 class="mb-0">
                                                            <button class="btn btn-link btn-block text-left ml-3 f-17" aria-expanded="true" type="button"> Java (203) </button>
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingOne01">
                                                        <h2 class="mb-0">
                                                            <button class="btn btn-link btn-block text-left ml-3 f-17" type="button"> Test (1) </button>
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingOne01">
                                                        <h2 class="mb-0">
                                                            <button class="btn btn-link btn-block text-left ml-3 f-17" type="button"> Java Data (532) </button>
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingOne01">
                                                        <h2 class="mb-0">
                                                            <button class="btn btn-link btn-block text-left ml-3 f-17" type="button"> Web Services (532) </button>
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingOne01">
                                                        <h2 class="mb-0">
                                                            <button class="btn btn-link btn-block text-left ml-3 f-17" type="button"> Web Services (532) </button>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="table-head mt-3 p-4">
                        <div class="text-left mt-2 d-flex justify-content-between">
                            <span class="f-18 mt-3 text-left">Attempted : 05</span>
                            <span class="f-18 mt-3 text-left">Bookmarked: 02</span>
                        </div>
                        <div class="text-left mt-2 d-flex justify-content-between">
                            <span class="f-18 mt-3 text-left">Skipped: 12</span>
                            <span class="f-18 mt-3 text-left">Unreviewed: 22</span>
                        </div>
                    </div>
                    <div class="table-head mt-3 p-4">
                        <div class="row mx-0">
                            <div class="col-3">
                                <img src="assets/images/img11.png" style="width: 100%;height: 65px;" alt="">
                                <p class="mt-2">Id:3520</p>
                            </div>
                            <div class="col-9 text-left px-0">
                                <p class="f-18 mb-2 text-left">Tarique Anwer</p>
                                <p class="f-14 opacity mb-1 text-left">Premium Member, Since 23 Mar, 2019</p>
                                <p class="f-14 opacity mb-1 text-left">210 days remaining</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="modal" id="startQuiz" tabindex="-1" role="dialog" aria-labelledby="startQuizLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 400px;">
        <div class="modal-content" style="border-radius:14px;">
            <div class="modal-body py-4 px-md-5">
                <h4 class="modal-title p-4 mt-1 mb-2 text-center" id="startQuizLabel" style="font-size: 18px;font-weight: 500">Please confirm to submit the quiz? </h4>
                <div class="d-flex justify-content-between mb-4">
                    <span style="border: 1px solid #00000026;padding: 4px;">Bookmarked : 07</span>
                    <span style="border: 1px solid #00000026;padding: 4px;">Unreviewed : 07 </span>
                    <span style="border: 1px solid #00000026;padding: 4px;">Skipped : 07 </span>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center pt-0" style="border:none">
                <button class="btn btn-lights  py-2 px-5 rounded text-dark" data-dismiss="modal" aria-label="Close">Back</button>
                <button class="btn btn-success  py-2 px-5 rounded">Confirm</button>
            </div>
        </div>
    </div>
</div>