<div class="user-wrap d-flex align-items-center justify-content-center">
    <div class="user-login-box">
        <div class="d-flex align-items-center">

            <img src="assets/images/user.png" alt="" class="mr-1" width="40">
            <div class="ml-3">
                <h1 class="mt-0 mb-0">
                    Tarique Anwer
                </h1>
                <p class="text-success mb-0">Registration successfully created.<br>
                    User Id: 3245
                </p>
            </div>
        </div>
        <hr class="my-4">
        <form>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <select class="form-control mr-3">
                            <option value="">Qualification</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="input" class="form-control" placeholder="Year of Passout">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <select class="form-control mr-3">
                            <option value="">DOB</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="custom-radio custom-radio2">

                        <ul class="list-inline p-0 mb-4 clearfix">
                            <li class="list-inline-item  w-auto">
                                <input type="radio" id="Student" name="selector">
                                <label class="m-0" for="Student">Student</label>

                                <div class="check"></div>
                            </li>

                            <li class="list-inline-item  w-auto">
                                <input type="radio" id="Working" name="selector">
                                <label class="m-0" for="Working">Working

                                </label>
                                <div class="check"></div>


                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <select class="form-control mr-3">
                            <option value="">Designation</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="input" class="form-control" placeholder="Experience">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="input" class="form-control" placeholder="LinkedIn URL">
            </div>
            <div class="text-center">
                <button class="btn dark-btn w-75  py-3">Update
                </button>
            </div>

            <div class="text-center my-4">
                <h3> Already have an account? <a href="javascript:">SignUp </a> </h3>
            </div>
        </form>
        <p class="f-12">
            Note: By continuing and signing in, you agree to technical99's <a href="javascript:"> Terms & Conditions</a>
            and
            <a href="javascript:">Privacy Policy.</a>
        </p>
    </div>
</div>