<div class="col-md-12 mb-3 container-hero-image">
  <img src="https://mdbcdn.b-cdn.net/img/Photos/Others/forest2.jpg" class="img-fluid z-depth-1"
    alt="Responsive image">
  <div class="bottom-left"><label class="sr-only" for="inlineFormInputName2">Search</label>
    <input mdbInput type="text" style="margin: 0 !important;width: 42rem;height: 4rem;padding: 0 2rem;border-radius: 0;" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Search">
    <div class="icon-span"><mdb-icon fas class="search-icon" icon="search"></mdb-icon></div>
  </div>
  <div class="top-left">
    <span style="color: black;font-size: 3.33rem;">A trusted partner for technical </span>
    <span style="color: black;font-size: 3.33rem;display: block;text-align: left;">education</span>
  </div>
</div>
<div class=" text-center"
  style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;margin-top: -3.4rem !important;" *ngIf='isHomePage'>
  <div class="btn override-cards btn-lg waves-effect waves-light">
    <div class="override-card-heading">Join Us</div>
    <div class="override-card-heading-inner">
      <span class="override-card-heading-text" style="cursor: pointer;">Writer</span>
      <span class="override-card-heading-text">|</span>
      <span class="override-card-heading-text" style="cursor: pointer;">Instructor</span>
      <span class="override-card-heading-text">|</span>
      <span class="override-card-heading-text" style="cursor: pointer;">Partner</span>
     </div>
  </div>
  <div class="btn override-cards btn-lg waves-effect waves-light">
    <div class="override-card-heading">Video courses</div>
    <div class="override-card-heading-inner">
      <span class="override-card-heading-text" style="cursor: pointer;">Browse Courses</span>
      <span class="override-card-heading-text">|</span>
      <span class="override-card-heading-text" style="cursor: pointer;">Create Course</span>
    </div>
  </div>
  <div class="btn override-cards btn-lg waves-effect waves-light">
    <div class="override-card-heading">Become Premium User</div>
    <div class="override-card-heading-inner" style="cursor: pointer;">Subscription Plans</div>
  </div>

</div>
